{% raw %}<!DOCTYPE html>
<html>
	<head>
		<title>PyDodge</title>
		<style>
			body {
				text-align: center;
				color: white;
				background-color: #202020;
				font-family: sans-serif;
			}
			
			input {
				padding: 5px 8px;
			}
			
			a {
				color: #3ec3f0;
				font-size: 24px;
				display: block;
				margin: 16px 0px;
			}
		</style>
	</head>
	<body>
		<h1>PyDodge</h1>
		<input id="url" name="url" placeholder="Enter Url">
		<input id="go" type="submit" value="Go">
		<a href="https://github.com/BinBashBanana/PyDodge">GitHub</a>
		<h3>PYWB version: release 2.6.3</h3>
		<script>
			var prUrl = document.getElementById("url"),
			prGo = document.getElementById("go");
			
			function go(url) {
				window.location.href = "course/" + (/^(http:\/\/|https:\/\/)/i.test(url) ? url : "https://" + url);
			}
			
			prUrl.addEventListener("keydown", function(e) {
				if (e.code == "Enter" && prUrl.value) go(prUrl.value);
			}, false);
			
			prGo.addEventListener("click", function() {
				if (prUrl.value) go(prUrl.value);
			}, false);
		</script>
	</body>
</html>
{% endraw %}